.marquee-container {
    white-space: nowrap;
    overflow: hidden;
  }
  
  .marquee-items {
    display: inline-block;
    animation: marquee 900s linear infinite !important; /* Set a shorter duration */
  }
  
  .marquee-item {
    display: inline-flex;
    flex: 0 0 auto;
    margin: auto 5rem; /* Adjust the margin based on your styling */
  }
  
  .marqs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center !important;
  }
  
  @keyframes marquee {
    to {
      transform: translateX(-100%);
    }
  }

  .marqs img{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 100vmax;
  }

  .marqs h3{
    font-family: 'Montserrat', sans-serif;
    color: rgba(94, 90, 90, 0.548) !important;
    text-shadow: none !important;
  }

  .marqs p{
    font-family: 'Roboto', sans-serif;
    text-shadow: none !important;
    font-size: 16px !important;
  }
  