* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #242424;
  background-image: url(./assets/furnace-mobile.jpg);
  background-position: center;
}

h1 {
  font-family: 'Black Ops One', sans-serif;
  font-size: 2.5em !important;
  line-height: 1.5;
  color: white !important;
  text-align: center;
  overflow-y: hidden;
  text-shadow: 2px 3px 4px rgba(77, 77, 77, 0.682);
}

h2 {
  font-family: 'Black Ops One', sans-serif;
  font-size: 2.3em !important;
  line-height: 1.5;
  color: white !important;
  text-align: center;
  overflow-y: hidden;
}

h3 {
  font-family: 'Gasoek One', sans-serif;
  font-weight: 700;
  font-size: 2.5em !important;
  line-height: 1.5;
  color: white !important;
  overflow-y: hidden;
  text-shadow: 2px 3px 4px rgba(77, 77, 77, 0.682);
  letter-spacing: -1px;
}

h4 {
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px !important;
  line-height: 1.6 !important;
  color: white !important;
  text-align: center;
  overflow-y: hidden;
}

h5 {
  font-size: 18px;
  font-weight: 500 !important;
  line-height: 1.6 !important;
  font-family: 'Roboto', sans-serif;
  color: white !important;
  text-align: center;
  overflow-y: hidden;
}

p {
  font-size: 18px;
  font-family: 'Archivo', sans-serif;
  letter-spacing: 1px;
  color: white;
}

span {
  color: white;
  font-size: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-weight: 500;
}

button {
  border-radius: 8px;

}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (min-width:768px) {

  body {
    background-image: url(./assets/furnace.jpg);
  }

  h1,
  h3 {
    font-size: 4.5em !important;
  }

  h2 {
    font-size: 3.8em !important;
  }

  h4 {
    font-size: 30px !important;
  }
}


/* font-family: 'Archivo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Black Ops One', sans-serif;*/